:root{
    --prim : crimson;
    --primlight : rgb(248, 226, 230);
    --grey : rgb(235, 234, 234);
}
#Profile-Component{
    width: 20vw;
    height: 87vh;
}
.User-Box{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--grey);
    border-radius: 12px;
    padding-left: 15px;
    margin: 20px 0px 20px 30px;
    box-shadow: 0px 15px 25px -27px grey;
    background: white;
}
.userImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.handle{
    opacity: 50%;
}
.User-Nav{
    border-radius: 15px;
    background: white;
    margin: 20px 0px 20px 30px;
}
.links{
    list-style: none;
    padding: 0;
    border-radius: 12px;
    max-width: 20vw;
}
.links li{
    border-bottom: 1px solid rgb(245, 242, 242);
    padding: 10px;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: 0.5s;
}
.links li:hover{
    transition: 0.5s;
    transform: scale(0.9);
}
.links li a{
    text-decoration: none;
    color: black;
}
li.active{
    background: var(--primlight);
    border-left: 3px solid var(--prim);
}
li.active:hover{
    transform: scale(1);
}

.Invitation-Box{
    /* border: 1px solid black; */
    margin: 20px 0px 20px 30px;
}
.Component-Title{
    font-size: 12px;
    color: var(--prim)
}
.Invitation-Box img{
    height: auto;
    width: 100%;
    border-radius: 12px;
}

.Sociyo-Btn{
    width: 40%;
    cursor: pointer;
    border: none;
    opacity: 80%;
}
.Sociyo-Btn:hover{
    opacity: 100%;
}
.Negative{
    background: var(--grey);
    color: black;
    border: var(--grey);
    width: 40%;
}
.invite-actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
